<h1>start page</h1>
<h1>welcome to co-ex</h1>
<h4>click the button below to capture prices for BTC and ETH crypto currencies.</h4>
<br>
<div><%= link_to 'capture', prices_path, method: :post, class: 'btn btn-primary' %></div>